<main>
  <section class="tabs">
    <div class="tabs__auth">
      <button 
        [class.active]="typePage === 'register'"
        (click)="toggleType('register')"
      >Зарегестрироваться</button>
    </div>
    <div class="tabs__login">
      <button 
        [class.active]="typePage === 'auth'"
        (click)="toggleType('auth')"
      >Войти</button>
    </div>
  </section>


  <form [formGroup]="user">
    <div class="form__name">
      <input type="text" placeholder="Логин" formControlName="login">
    </div>
    <div class="form__password">
      <input [type]="isVisiblePass ? 'text' : 'password'" placeholder="Пароль" formControlName="password">
      <p (click)="togglePass()">{{ isVisiblePass ? 'Скрыть пароль' : 'Показать пароль' }}</p>
    </div>
    <button class="form__btn"
      (click)="typePage ==='register' ? register(user.value) : login(user.value)"
    >
      {{typePage ==='register' ? 'Зарегестрироваться' : 'Войти'}}
    </button>
  </form>
</main>